<template>
  <main class="border border-orange">
    <h3>异步子组件</h3>
    <div w-200px flex-y-center>
      defineProps:{{ msg }}
    </div>
    <div w-200px flex-y-center>
      defineModel:<el-input v-model="model"></el-input>
    </div>

    <div w-200px flex-y-center>
      <el-button type="primary" @click="changeNumber">defineEmits</el-button>
      <el-button v-bind="$attrs">透传 Attributes</el-button>
    </div>

    <div w-200px flex-y-center>
      依赖注入:{{ message }}
    </div>

    <div>
      #插槽
      <slot name="s1" />
      <hr>
      <slot name="s2" :count="1" />
    </div>

  </main>
</template>

<script setup lang="ts">
defineOptions({
  name:'ComponentNameABC',//为组件命名
  inheritAttrs: false, //设置为false，class的cp类就不能透传过来
})


const props = withDefaults(defineProps<{ msg: number }>(), {
  msg: 777
})

const model = defineModel<number>()

const emit = defineEmits<{
  // (e: 'change', number: number): void
  change: [number: number]
}>()

console.log("getCurrentInstance().vnode.props",getCurrentInstance().vnode.props)
console.log("isEmit",getCurrentInstance().vnode.props?.['onChange'])

function changeNumber(){
  emit('change',7777777)
}

function expose(){
  ElMessage("defineExpose")
}

const message = inject('message')

console.log("message",message)

console.log(props.msg);

defineExpose({
  expose
})
</script>

<style scoped lang="scss">
* {
  margin: 10px;
}
</style>