<template>
  <main class="app-container">
    <div class="wrapper">
      <div class="w-10px text-red m-10px">unoCss</div>

      <el-button type="primary">elementUI</el-button>

      <el-button @click="toggle">
        <svg-icon :icon-class="isFullscreen ? 'fullscreen-exit' : 'fullscreen'" />
      </el-button>
      <el-button @click="() => open()">{{ sRGBHex || 'vueUse取色' }}</el-button>
      <el-button @click="() => toggleDark()"
        >暗黑模式<i inline-flex i="dark:ep-moon ep-sunny"
      /></el-button>
      主题颜色：
      <el-color-picker @change="colorThemeChange" :predefine="colorPresets" />

      <el-button class="box">variables-css</el-button>
      <el-button :color="variables['menu-background']">variables-js</el-button>

      <el-button @click="router.push(`/largeScreen`)">大屏</el-button>

      <el-button @click="toLargeScreen">跳转传参</el-button>

      <div class="flex-y-center">
        <span>图标：</span>
        <i-ep-Loading />
        <SvgIcon size="28" icon-class="logo" />
      </div>

      <div>vite全局变量：{{ appInfo }}</div>

      <el-button @click="() => appStore.changeStatus(888)"
        >store-Event:{{ appStore.status }}</el-button
      >
      <el-button @click="() => getStore()">utils</el-button>

      <el-button v-hasPerm="true">directive-true</el-button>
      <el-button v-hasPerm="false">directive-false</el-button>
      <el-button type="primary" @click="() => childRef.expose()">defineExpose</el-button>

      <div>父组件：{{ count }}</div>
      <ChildPage
        :msg="123"
        type="danger"
        v-model="count"
        @change="changeNumber"
        ref="childRef"
        class="cp"
      >
        <template #s1> s1：<el-rate /> </template>
        <template #s2="{ count }">s2：具名作用域插槽：{{ count }}</template>
      </ChildPage>
    </div>
  </main>
</template>
<script setup lang="ts">
import variables from '@/styles/variables.module.scss'
import { useAppStore } from '@/stores/modules/app'
import { setStyleProperty, getStore } from '@/utils'

const appStore = useAppStore()
const appInfo = ref(__APP_INFO__)
const router = useRouter()

const { open, sRGBHex } = useEyeDropper()

const { isFullscreen, toggle } = useFullscreen()

const isDark = useDark()
const toggleDark = useToggle(isDark)

const ChildPage = defineAsyncComponent(() => import('./Child.vue'))

const count = ref(888)

const childRef = ref()

const colorPresets = [
  '#409EFF',
  '#ff4500',
  '#ff8c00',
  '#90ee90',
  '#00ced1',
  '#1e90ff',
  '#c71585',
  'rgba(255, 69, 0, 0.68)',
  'rgb(255, 120, 0)',
  'hsva(120, 40, 94)'
]

function changeNumber(number: number) {
  ElMessage(number.toString())
}
provide(/* 注入名 */ 'message', /* 值 */ 'hello!')

console.log(variables)

const now = computed(() => Date.now())

watch(count, (count) => {
  console.log(`count is: ${count}`)
})

function colorThemeChange(value: string | null) {
  if (value && typeof value === 'string') {
    localStorage.setItem('colorTheme', value)
    setStyleProperty('--el-color-primary', value)
  }
}

function toLargeScreen() {
  router.push({ name: 'largeScreen', state: { username: 'li' } })
}

onMounted(() => {
  const colorThemeData = localStorage.getItem('colorTheme')
  colorThemeData && setStyleProperty('--el-color-primary', colorThemeData)
})
</script>

<style lang="scss" scoped>
* {
  margin: 10px;
}

.wrapper {
  .box {
    background: $menu-background;
    color: #ffffff;
  }
}
</style>
