<template>
  <v-scale-screen :width="scaleScreenOptions.width" :height="scaleScreenOptions.height"
                  :autoScale="scaleScreenOptions.autoScale" :delay="scaleScreenOptions.delay"
                  :fullScreen="scaleScreenOptions.fullScreen" :boxStyle="scaleScreenOptions.boxStyle"
                  :wrapperStyle="scaleScreenOptions.wrapperStyle"
                  :bodyOverflowHidden="scaleScreenOptions.bodyOverflowHidden">
    <slot />
  </v-scale-screen>
</template>

<script lang="ts" setup>
import VScaleScreen from "v-scale-screen";

const scaleScreenOptions = ref({
  width: 1920,
  height: 1080,
  autoScale: true,
  delay: 0,
  fullScreen: false,
  boxStyle: {
    backgroundColor: "#293E59"
  },
  wrapperStyle: {},
  bodyOverflowHidden: true
});
</script>